version: '3.8'

services:
  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: prehrajto_scraper
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - video_storage:/prehrajto-scraper/storage
    ports:
      - "8080:8080"
    entrypoint: [ "bin/docker-entrypoint" ]
    command: [ "bin/rails", "server", "-b", "0.0.0.0", "-p", "8080", "-e", "production" ]
    env_file: ".env.production"

  sidekiq:
    build: .
    depends_on:
      - db
      - backend
      - redis
    volumes:
      - .:/app
      - video_storage:/prehrajto-scraper/storage
    command: bundle exec sidekiq -q default -q mailers -c 5
    env_file: ".env.production"

  sidekiq_video:
    build: .
    depends_on:
      - db
      - backend
      - redis
    volumes:
      - .:/app
      - video_storage:/prehrajto-scraper/storage
    command: bundle exec sidekiq -q video_processing -c 1
    env_file: ".env.production"

volumes:
  postgres_data:
  video_storage:
