<div>
  <%= link_to 'Prehrajto scraper', root_path, class:"navbar-brand fs-2 my-auto fw-bold float-md-start text-white" %>
  <nav class="nav nav-masthead justify-content-center float-md-end m-0">
    <%= link_to t(:home), root_path, class:"nav-link fw-bold px-2 #{current_class?(root_path, "light")}" %>
  </nav>
</div>