<div>
  <h2> <%= title %> </h2>
<!--  <div>-->
<!--    <h5 style="opacity: 0.5"> <%#= duration %> | <%#= size %> </h5>-->
<!--  </div>-->
</div>

<div class="container mx-auto d-flex justify-content-center video-container">
  <video width="600" controls class="video-container">
    <source src="<%= link %>" type="video/mp4">
    <source src="mov_bbb.ogg" type="video/ogg">
    Your browser does not support HTML video.
  </video>
</div>