<form action="books" method="get" class="form-signin m-3">
  <div class="form-group d-flex justify-content-center my-auto">
    <input type="text" id="search" name="search" class="form-control w-50 mx-2" placeholder="<%= t(:filter) %>">
  </div>
</form>
