<div class="mb-6"
     data-controller="client-filter"
     data-client-filter-target-container=".filterable">
  <input type="text"
         class="input"
         data-client-filter-target="input"
         data-action="input->client-filter#filter"
         placeholder="<%= t(:filter) %>">
</div>
