<div class="py-5 my-0 text-center w-100 m-0">
  <%#=image_tag("film-icon.png", alt: "Example Image", width:"72", height:"57", class:"mb-3")%>

  <div class="input-group mb-3 d-flex justify-content-center">
    <iframe src="//f1livegp.me/f1/live.php" name="frame" allow="fullscreen" style="height: 450px; width: 100%" ></iframe>
  </div>

</div>
